.sidebar {
    background: #f6f7f8;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    height: 100vh;
    width: 20%;
    padding: 25px;
    float: left;

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        & li {
            font-size: 14px;
            line-height: 20px;
            margin-left: 5px;
        
            & a {
                text-decoration: none;
                cursor: default;

                &.selected {
                    color: #3187e1;
                }
            }


        }
    }


}